  #grid{
    display:grid;
    grid-template-columns: 300px 1fr;
  }
  body{
    background-color: rgb(177, 76, 73);
  }
  h1{
    text-align: center;
    background-color: rgb(119, 20, 20);
    padding: 30px;
    color: rgb(240, 139, 20);
  }
  ol li:hover{
    background-color: rgb(221, 155, 241);
  }
  li{
    /* padding-left: 50px; */
    margin-left: 10px;
  }
  ol{
    font-family: 'Abril Fatface', cursive;
  }
  #content{
    margin-left: 15px;
    margin-top: 15px;
  }
