@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
/* font-family: 'Orbitron', sans-serif; */

/* Reset CSS */
* { margin:0; padding:0; }
ol,ul { list-style:none; }
a { outline:0; text-decoration:none; color:#555; }
img { border:0; }
body { font-family:orbitron; }

/* 전체 프레임 */
#wrap { position:fixed; top:0px; left:0px; width:100%; height:100%;
        min-width:1400px; min-height:600px; background-image:url(../img/sky.jpg);
        background-size:cover; transition:all 2s; }

/* 로고 */
#wrap h1 { width:90px; height:80px; position:fixed; top:30px; left:60px;
           background-image:url(../img/logo.png); background-size:contain;
           background-repeat:no-repeat; color: rgb(209, 134, 14); }

/* 주메뉴 */
#gnb { position:fixed; top:50px; right:200px;}
#gnb li { float:left; margin-left:30px; }
#gnb li a { font-size:14px; font-weight:bold; color:#3b3232; }

/* 텍스트 박스 */
article { position:absolute; top:350px; left:150px; width:450px; }
article p { font-size:50px; color:#666; }
article p strong { color:#111; }
article em { font-size:14px; font-style:normal; color:#333; }

/* 모바일 영역 */
figure { position:absolute; right:-600px; bottom:0; width:1226px; height:500px;
         background-image:url(../img/holding-phone.png); transition:all 2s; }
figure p { position:absolute; top:100px; left:137px; width:540px; height:307px;
           overflow:hidden; font-size:60px; font-weight:bold; color:#333; line-height:1.6;
           box-sizing:border-box; padding-left:50px; }
figure p span { position:relative; z-index:5; }

/* 테마 버튼 */
nav { position: fixed; bottom:70px; left:6%; width:88%; }
nav li { float:left; width:15%; }
nav li a { display:block; width:98%; height:35px; background:#fff; color:#111; margin:0
           auto; transition:all 0.5s; font-size:12px; font-weight:bold; line-height:3;
           letter-spacing:3px; box-sizing:border-box; padding-left:30px; opacity:0.6;
           z-index:1; position:relative;}

/* 아침 테마 */
#wrap.morning { background-image:url(../img/sky.jpg); }
#wrp.morning #gnb a { color:#555; }

/* 밤 테마 */
#wrap.night { background-image:url(../img/moon.jpg);}
#wrp.night #gnb a { color:#fff; }
